/*
 * Created by Willianson
 * At 2015.08.19
 */




/* base
---------------------------------------------------------------------------------------*/
qa-navigation 						{ display:block; }
qa-navigation.open 					{  }
qa-navigation nav 					{ position:fixed; top:0; bottom:0; left:0; z-index:2; width:250px; background:#FFF; -webkit-transform:translateX(-100%); -ms-transform:translateX(-100%); -o-transform:translateX(-100%); transform:translateX(-100%); }
qa-navigation.open nav				{ -webkit-transform:translateX(0px); -ms-transform:translateX(0px); -o-transform:translateX(0px); transform:translateX(0px); }




/* overlay
---------------------------------------------------------------------------------------*/
qa-navigation div.overlay 			{ opacity:0; position:fixed; top:0; right:0; bottom:0; left:0; z-index:1; background:#000; pointer-events:none; }
qa-navigation.open div.overlay		{ opacity:0.7; pointer-events:initial; }




/* header
---------------------------------------------------------------------------------------*/
qa-navigation nav header 			{ min-height:70px; background:#CCC; }
qa-navigation nav header h3 		{ padding:0 25px; line-height:65px; font-size:22px; }
qa-navigation nav header a 			{ padding:12px 25px; /*line-height:65px;*/ }




/* list
---------------------------------------------------------------------------------------*/
qa-navigation nav dl 				{  }
qa-navigation nav dl a				{ display:block; padding:20px 25px; border-bottom:1px solid #EEE; }
qa-navigation nav dl a:hover		{ background:rgba(0,0,0,0.1); }
qa-navigation nav dl dt a			{ font-weight:bold; }
qa-navigation nav dl dd a			{ padding-left:45px; }