qa-submenu{
  display:block; 
  position:relative;
  /*z-index: 1;*/
  background:#00A2F6; 
  color: #FFF;
  padding-left: 18px;
}
qa-submenu input[type=radio]{
  display: none;
}
qa-submenu input[type=radio] + span{
  display: inline-block;
  padding: 12px;
  text-align: center;
  border-bottom: solid 4px transparent;
  margin: 0 10px;
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;
  color: #C0D9F0;
}
qa-submenu input[type=radio]:checked + span{
  color: #FFF;
  border-bottom-color: #FFF;
}