/*
 * Created by Willianson
 * At 2015.08.24
 */




/* base
---------------------------------------------------------------------------------------*/
qa-loading 								{  }
qa-loading section > div.layout			{ opacity:0; pointer-events:none;
										  -webkit-transform:translateY(50px); -ms-transform:translateY(50px); -o-transform:translateY(50px); transform:translateY(50px);
										  -webkit-transition:all 0.4s; -moz-transition:all 0.4s; -o-transition:all 0.4s; transition:all 0.4s; }
qa-loading svg							{ display:inline-block; margin:0 15px; }
qa-loading span							{ display:inline-block; }
qa-loading.show section > div.layout	{ opacity:1; pointer-events:all;
										  -webkit-transform:translateY(0); -ms-transform:translateY(0); -o-transform:translateY(0); transform:translateY(0); }




/* small
---------------------------------------------------------------------------------------*/
qa-loading section[mode="small"] > div.layout 	{ position:fixed; z-index:200; top:0; right:0; left:0; height:70px; color:#FFF; text-align:center; pointer-events:none; }




/* full
---------------------------------------------------------------------------------------*/
qa-loading section[mode="full"] > div.layout 	{ position:fixed; z-index:200; top:0; right:0; bottom:0; left:0; color:#FFF; text-align:center; background:rgba(0,0,0,0.85); }




/* full-transparent
---------------------------------------------------------------------------------------*/
qa-loading section[mode="full-transparent"] > div.layout 	{ opacity:1; position:fixed; z-index:200; top:0; right:0; bottom:0; left:0; color:#FFF; text-align:center; background:rgba(0,0,0,0);
 															  -webkit-transform:translateY(0); -ms-transform:translateY(0); -o-transform:translateY(0); transform:translateY(0); }
